# Compiled python modules.
*.pyc

# Short Course Materials to Exclude (for now)
/Archived_Courses/

# Ignore Jupyter/IPython Notebook Checkpoints
**/.ipynb_checkpoints/

# Ignore graphics files created by Notebooks/Programs in Repo
*.png
*.eps
*.jpg

# Ignore Open Office Spreadsheet files (general used for scratch calculations)
*.ods

# Exclude data created by Notebooks/Programs in Repo
**/Data/Created/

# Exclude any files in "Not For Repo" subdirectories
**/NotForRepo/

# OS Files
.DS_Store
.DS_Store?
._*

# Source Lyx/Tex/BibTex files
*.tex
*.lyx
*lyx-format*.lyx
*.*#
*.bib
*.*~